<div *ngIf="book$ | async as book" class="sm-frame sm-container">
  <h2 class="sm-header">Book Details</h2>
  <div class="pt-2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.lt-lg="column"
    fxLayoutGap.lt-lg="0px">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <img *ngIf="book.image else defaultImage" [src]="book.image" class="sm-image mat-elevation-z4">
      <ng-template #defaultImage>
        <img src="assets/images/no-image.jpg" class="sm-image mat-elevation-z4">
      </ng-template>
      <mat-chip-list>
        <mat-chip>{{ book.status?.value }}</mat-chip>
      </mat-chip-list>
      <div fxLayout="row">
        <div *ngIf="book.started">
          <b>Started Reading:</b>
          <div>{{ book.started | date }}</div>
        </div>
        <div *ngIf="book.read">
          <b>Finished Reading:</b>
          <div>{{ book.read | date }}</div>
        </div>
      </div>
    </div>
    <div>
      <h1>{{ book.title }}</h1>
      <div>by {{ book.author }}</div>
      <div fxLayout="row" fxLayoutAlign="space-between start" class="py-2">
        <div fxLayout="row">
          <b class="pr-1"> Rating: </b>
          <sm-rating [rating]="book.rating"></sm-rating>
        </div>
        <div><b>Published:</b> {{ book.published | date }}</div>
        <div> {{ book.numberOfPages }} pages</div>
      </div>
      <div>{{ book.description }}</div>
    </div>
    <div fxFlex="200px" fxFlex.lt-lg>
      <mat-chip-list>
        <ng-container *ngFor="let genre of book.genres">
          <mat-chip color="primary">{{ genre }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="py-2">
    <button mat-flat-button type="button" color="accent" [routerLink]="['/books/edit', book.id]">
      Edit Book
    </button>
    <button mat-flat-button type="button" color="warn" (click)="openDeleteDialog(book)">
      Delete Book
    </button>
  </div>
</div>
